<html>
<head>
    <title>Hello to GoNote updated 14/Jun</title>
    <link rel="stylesheet" href="{{ STATIC_URL}}css/bootstrap.min.css" type="text/css" >
    <link rel="stylesheet" href="{{ STATIC_URL}}css/style.css" type="text/css" >
    <script src="{{ STATIC_URL}}js/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL}}js/main.js" type="text/javascript"></script>
    {# for jsTree   #}
    <link rel="stylesheet" href="{{ STATIC_URL}}tree/themes/default/style.min.css" />
    <script src="{{ STATIC_URL}}tree/jstree.min.js" type="text/javascript"></script>
    {# for imperavi redactor #}
    <script src="{{ STATIC_URL}}imperavi/redactor.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ STATIC_URL}}imperavi/redactor.css" type="text/css" >
    {# for growl #}
    <script src="{{ STATIC_URL}}growl/javascripts/jquery.growl.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ STATIC_URL}}growl/stylesheets/jquery.growl.css" type="text/css" >

</head>


<body>


<div class="container">

    {% include "menu.html" %}

    {% include "content.html" %}

</div>

</body>

</html>