<html>
<head>
    <title>Hello to GoNote</title>
    <link rel="stylesheet" href="{{ STATIC_URL}}css/bootstrap.min.css" type="text/css" >
    <link rel="stylesheet" href="{{ STATIC_URL}}css/style.css" type="text/css" >
    <script src="{{ STATIC_URL}}js/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL}}js/main.js" type="text/javascript"></script>
    {# for jsTree   #}
    <link rel="stylesheet" href="{{ STATIC_URL}}tree/themes/default/style.min.css" />
    <script src="{{ STATIC_URL}}tree/jstree.min.js" type="text/javascript"></script>

</head>


<body>

<div class="container">

    {% include "menu.html" %}

    {% include "content.html" %}

</div>

</body>

</html>